<h1>Code for fun</h1>
<p>Dans ce repo, il s'agira de s'inventer des exercices que nous nous amuserons à 
coder dans un ou plusieurs langages de notre choix. </p>
<p>Lorsque vous avez des idées d'exercices, vous mettez le thème de l'exercice 
dans le fichier <strong>exercices.md</strong>, et vous créez un dossier pour ça auquel vous 
ajoutez éventuellement un fichier README. Un exemple est donné avec le 
<strong>Hello_world</strong>.</p>